.word {
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 2s;
    opacity: 0;
    color: rgb(255, 0, 0);
    flex-grow: 1;
    -unity-text-align: middle-center;
}

.word-change {
    transition-property: all, opacity;
    transition-duration: 0s, 3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 2s;
    opacity: 1;
}
